footer {
  background-color: var(--secondary-dark);
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.footer-content {
  padding: 2.5rem 1.5rem;
  width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grey-text);
  gap: 0.75rem;
  max-width: 500px;
}

.footer-content p {
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.footer-content a {
  font-weight: 500;
  color: var(--light-grey-text);
}

.footer-icon {
  font-size: 2rem;
  transition: color 200ms ease-in-out;
}

.footer-icon.linked:hover {
  color: #0072b1;
}

.footer-icon.git:hover {
  color: #fafbfc;
}
