.review-container {
  padding: 1rem 3rem 1rem 0.5rem;
  border-radius: 0.15rem;
  border-bottom: 1px solid var(--alt-dark);
  display: flex;
  gap: 2rem;
}

.review-container.details {
  flex-direction: column;
  gap: 0.25rem;
}

.review-poster {
  width: 7rem;
  aspect-ratio: 2/3;
  border-radius: 0.15rem;
}

.stars.user {
  margin-right: 0;
}

.review-film-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-text);
}

.review-film-year {
  font-size: 1.15rem;
  font-weight: 300;
  color: var(--grey-text);
  margin-left: 0.25rem;
}

.time-stamp {
  font-size: 0.9em;
  color: var(--grey-text);
}

.time-stamp.updated {
  font-style: italic;
}

.review-disc-body {
  padding: 1.25rem 0;
  max-width: 100%;
}

.review-disc-body.details {
  padding: 0.75rem 0;
}

.review-disc-body p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.review-disc-body p.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow-y: hidden;
}

.review-disc-footer {
  display: flex;
  align-items: end;
}

.likes-comments-count {
  font-weight: 600;
  font-size: 0.85rem;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.heart-icon {
  transition: 200ms color ease-in-out;
}

.heart-icon,
.comments-icon {
  font-size: 1rem;
  cursor: pointer;
  color: var(--grey-text);
}

.heart-icon.liked {
  color: var(--primary-alt);
}

.profile-pic {
  width: 2.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 1px solid #2b2f34;
  margin-right: 0.5rem;
}

.username {
  font-size: 0.9rem;
}

.rendered-list-page-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: var(--primary-text);
  font-size: 0.9rem;
  font-weight: 300;
  gap: 0.25rem;
}

.page-count-num {
  user-select: none;
  cursor: default;
  padding: 0.25rem 0.5rem;
}

.page-count-num.active {
  color: var(--fifth-dark);
}

.page-count-num:hover {
  background-color: var(--fourth-dark);
}

.delete-review-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  font-size: 0.85rem;
  margin-left: auto;
  color: var(--grey-text);
}

.option-btn {
  background-color: var(--blue-dark) !important;
}

.review-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
